<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{>include/header}}
<div class="form-group">
        <label style="color: darkslategray;">게시판 골라보세요</label>
        <select class="form-control" onchange="boardSelection(this.value)">
            <option></option>
            <option value="movieBoard">영화게시판</option>
            <option value="freeBoard">자유게시판</option>
        </select>
    </div>
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table">
            <thead>
                <tr>
                    <td>글번호</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>조회수</td>
                </tr>
            </thead>
            <tbody>
                {{#freeBoardList}}
                <tr>
                    <td>
                        {{bno}}
                    </td>
                    <td>
                        <a href="/boardRead/freeboardRead?bno={{bno}}">{{title}}</a>
                    </td>
                    <td>
                        {{username}}
                    </td>
                    <td>
                        {{readcount}}
                    </td>
                </tr>
                {{/freeBoardList}}
                {{^freeBoardList}}
                    <tr>
                        <td colspan="4"><h1 style="text-align: center;">게시글이 하나도 없습니다.</h1></td>
                    </tr>
                {{/freeBoardList}}
            </tbody>
        </table>
        <div>
            {{#loginUser}}
                <button type="button" id="createBoard">
                    게시글 쓰기
                </button>
            {{/loginUser}}
        </div>
    </div>
</body>
{{>include/footer}}
<script>
    $("#createBoard").on("click", function () {
       location.href="/main/createBoard";
    });

    function boardSelection(boardType) {
        if(boardType == "movieBoard") {
            location.href = "board";
        } else if(boardType == "freeBoard") {
            location.href = "freeBoard";
        }
    }
</script>
</html>