<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>include/header}}
<body style="background-color: antiquewhite;">
    <div class="form-group">
        <label style="color: darkslategray;">게시판 골라보세요</label>
        <select class="form-control" onchange="boardSelection(this.value)">
            <option></option>
            <option value="movieBoard">영화게시판</option>
            <option value="freeBoard">자유게시판</option>
        </select>
    </div>
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table">
            <thead>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </thead>
            <tbody>
                <td>1</td>
                <td><a href="/main/read">글 제목 넣을곳</a></td>
                <td>나</td>
                <td>5267</td>
            </tbody>
        </table>
        <div>
            <button type="button" id="createBoard">
                게시글 쓰기
            </button>
        </div>
    </div>
</body>
{{>include/footer}}
<script>
    $("#createBoard").on("click", function () {
       location.href="/main/createBoard";
    });

    function boardSelection(boardType) {
        if(boardType == "movieBoard") {
            location.href = "board";
        } else if(boardType == "freeBoard") {
            location.href = "freeBoard";
        }
    }
</script>
</html>