<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>include/header}}
<body style="background-color: antiquewhite;">
    <div style="margin: 0 auto; text-align: center; padding-top: 10%;">
        <input type="hidden" value="{{freeboardRead.bno}}" name="bno" id="bno">
        <div class="form-group" >
            <label style="color: darkslategray;">작성자</label>
            <input type="text" class="form-control" id="writer" name="writer" value="{{freeboardRead.username}}" style="width: 25%; margin: 0 auto; text-align: center" disabled>
        </div>
        <div class="form-group" >
            <label style="color: darkslategray;">제목</label>
            <input type="text" class="form-control" id="title" name="title" value="{{freeboardRead.title}}" style="width: 25%; margin: 0 auto; text-align: center" disabled>
        </div>
        <div class="form-group" >
            <label style="color: darkslategray;">내용</label>
            <input type="text" class="form-control" id="content" name="content" value="{{freeboardRead.content}}" style="width: 25%; margin: 0 auto; text-align: center" disabled>
        </div>
    </div>
    <div style="margin: 0 auto; text-align: center; padding-top: 20px;">
        <button type="button" class="btn btn-danger" name="cancel" id="cancel">취소</button>
        <button type="button" class="btn btn-success" name="modifyWrite" id="modifyWrite">게시글 수정</button>
        <button type="button" class="btn btn-success" name="modifyWriteComp" id="modifyWriteComp" style="display: none">게시글 수정완료</button>
        <button type="button" class="btn btn-primary" name="deleteWrite" id="deleteWrite">게시글 삭제</button>
    </div>
    <br>
    <hr>
    <div style="margin: 0 auto; text-align: center; padding-top: 10%; width: 70%">
        댓글 넣을곳(테이블로 넣는다)
    </div>
</body>
{{>include/footer}}
<script>
    $("#modifyWrite").on("click", function () {
        $("#title").removeAttr("disabled");
        $("#content").removeAttr("disabled");
        $("#modifyWrite").css("display", "none");
        $("#modifyWriteComp").css("display", "");
    });

    $("#modifyWriteComp").on("click", function () {
        let writer = $("#writer").val();
        let title = $("#title").val();
        let content = $("#content").val();
        $("#title").attr("disabled", "disabled");
        $("#content").attr("disabled", "disabled");
        $("#modifyWrite").css("display", "");
        $("#modifyWriteComp").css("display", "none");

        let inputData = {
            "writer": writer,
            "title": title,
            "content": content
        }
        $.ajax({
           url: "board/modify",
           data: JSON.stringify(inputData),
           type: "POST",
           contentType: "application/json; charset=UTF-8",
           success: function (res) {

           }
        });
    });
</script>
</html>