<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>include/header}}
<body>
    <div style="margin: 0 auto; text-align: center; padding-top: 10%;">
        <div class="form-group">
            <label style="color: darkslategray;">작성자</label>
            <input type="text" class="form-control" id="writer" name="writer"
                   style="width: 25%; margin: 0 auto; text-align: center" readonly value="{{loginUser.username}}">
        </div>
        <div class="form-group">
            <label style="color: darkslategray;">제목</label>
            <input type="text" class="form-control" id="title" name="title"
                   style="width: 25%; margin: 0 auto; text-align: center">
        </div>
        <div class="form-group">
            <label style="color: darkslategray;">내용</label>
            <input type="text" class="form-control" id="content" name="content"
                   style="width: 25%; margin: 0 auto; text-align: center">
        </div>
    </div>
    <div style="margin: 0 auto; text-align: center; padding-top: 20px;">
        <button type="button" class="btn btn-danger" name="cancel" id="cancel">취소</button>
        <button type="button" class="btn btn-success" name="boardWrite" id="boardWrite">게시글 등록</button>
    </div>
</body>
{{>include/footer}}
<script>
    $("#cancel").on("click", function () {
        location.href = "/main/board";
    });

    $("#boardWrite").on("click", function () {
        let writer = document.getElementById("writer");
        let title = document.getElementById("title");
        let content = document.getElementById("content");
        let inputData = {
            writer: writer.value,
            title: title.value,
            content: content.value
        }

        if (title.value == "" || title.value == null || title.value == undefined) {
            alert("제목을 입력해주세요.");
            title.focus();
        } else if (content.value == "" || content.value == null || content.value == undefined) {
            alert("내용을 입력해주세요.");
            content.focus();
        } else {
            $.ajax({
                url: "../board/write",
                type: "POST",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(inputData),
                success: function (res) {
                    if(res) {
                        alert("게시글 등록이 완료되었습니다.");
                        location.href="../main/freeBoard";
                    }
                },
                error: function () {
                    alert("오류가 발생했습니다. \n 잠시후 다시 시도해주세요.")
                },
                fail: function () {
                    alert("오류가 발생했습니다. \n 잠시후 다시 시도해주세요.")
                }
            });
        }
    });

</script>
</html>