<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer>
    <!--  마이페이지 모달  -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div style="margin: 0 auto; text-align: center; padding-top: 10%; width: 80%;">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal title</h4>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" style="color: darkslategray;">아이디</label>
                            {{#loginUser}}
                                <input type="text" class="form-control" id="myPageUsername" name="myPageUsername" readonly value="{{loginUser.username}}" style=" margin: 0 auto; text-align: center;">
                            {{/loginUser}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" style="color: darkslategray;">비밀번호</label>
                            <input type="password" class="form-control" id="myPagePassword" name="myPagePassword" placeholder="비밀번호를 입력하세요" style=" margin: 0 auto; text-align: center">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="margin: 0 auto; text-align: center; padding-top: 20px;">
                            <button type="button" class="btn btn-primary" name="toMyPage" id="toMyPage">페이지 이동</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div style="margin: 0 auto; text-align: center; padding-top: 10%;">
                    <div class="form-group" >
                        <label for="exampleInputEmail1" style="color: darkslategray;">아이디</label>
                        {{#loginUser}}
                            <input type="text" class="form-control" id="exitUsername" name="exitUsername" readonly value="{{loginUser.username}}" style=" margin: 0 auto; text-align: center;">
                        {{/loginUser}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" style="color: darkslategray;">비밀번호</label>
                        <input type="password" class="form-control" id="exitPassword" name="exitPassword" placeholder="비밀번호를 입력하세요" style=" margin: 0 auto; text-align: center">
                    </div>
                </div>
                <div style="margin: 0 auto; text-align: center; padding-top: 20px;">
                    <button type="button" class="btn btn-danger" name="exitPage" id="exitPage">회원탈퇴</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts2.js"></script>
</footer>
<script>
    $("#toMyPage").on("click", function () {
        let myPageData = {
            username: $("#myPageUsername").val(),
            password: $("#myPagePassword").val()
        }
        $.ajax({
            url: "/member/toMyPage",
            type: "POST",
            data: JSON.stringify(myPageData),
            contentType: "application/json; charset=UTF-8",
            success: function (res) {
                if(res) {
                    location.href = "/main/mypage";
                } else {
                    alert("비밀번호가 일치하지 않습니다.")
                }
            }
        });
    });

    $("#exitPage").on("click", function () {
        // 회원탈퇴 코드 작성은 완료 , javax.persistence.TransactionRequiredException: No EntityManager with actual transaction available for current thread - cannot reliably process 'remove' call
        // 에러 발생
        let delData = {
            username: $("#exitUsername").val(),
            password: $("#exitPassword").val()
        }
        $.ajax({
            url: "/member/exitPage",
            type: "POST",
            data: JSON.stringify(delData),
            contentType: "application/json; charset=UTF-8",
            success: function (res) {
                if(res > 0) {
                    location.href = "/main/logout";
                } else {
                    alert("비밀번호가 일치하지 않습니다.")
                }
            }
        });
    });
</script>
</body>
</html>