<html>
<head>
    <meta charset="]">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>include/header}}
<body style="background-color: antiquewhite;">
    <div style="margin: 0 auto; text-align: center; padding-top: 10%;">
        <div class="radio">
            <label>
                아이디 찾기 : <input type="radio" name="findId" id="findId"><br>
                비밀번호 찾기 : <input type="radio" name="findPwd" id="findPwd">
            </label>
        </div>
        <div class="form-group" id="findIdByEmailDiv">
            <label for="exampleInputId1" style="color: darkslategray;">이메일</label>
            <input type="text" class="form-control" id="findIdByEmail" name="findIdByEmail" placeholder="이메일을 입력하세요" style="width: 25%; margin: 0 auto; text-align: center">
        </div>
        <div class="form-group" style="display: none;" id="findPwdByIdDiv">
            <label for="exampleInputId1" style="color: darkslategray;">아이디</label>
            <input type="text" class="form-control" id="findPwdById" name="findPwdById" placeholder="아이디를 입력하세요" style="width: 25%; margin: 0 auto; text-align: center">
        </div>
        <div class="form-group" style="display: none;" id="findPwdByEmailDiv">
            <label for="exampleInputPassword1" style="color: darkslategray;">이메일</label>
            <input type="password" class="form-control" id="findPwdByEmail" name="findPwdByEmail" placeholder="이메일을 입력하세요" style="width: 25%; margin: 0 auto; text-align: center">
        </div>
    </div>
    <div style="margin: 0 auto; text-align: center; padding-top: 20px;" name="findIdBtnDiv" id="findIdBtnDiv">
        <button type="button" class="btn btn-danger" id="findIdBtn" name="findIdBtn">아이디 찾기</button>
    </div>
    <div style="margin: 0 auto; text-align: center; padding-top: 20px; display: none;" name="findPwdBtnDiv" id="findPwdBtnDiv">
        <button type="button" class="btn btn-success" id="findPwdBtn" name="findPwdBtn">비밀번호 찾기</button>
    </div>
</body>
{{>include/footer}}
<script>
    $(document).ready(function () {
        document.getElementById("findId").checked = true;
    });

    $("#findPwd").on("click", function () {
        document.getElementById("findId").checked = false;
        $("#findIdByEmailDiv").css("display", "none");
        $("#findPwdByIdDiv").css("display", "");
        $("#findPwdByEmailDiv").css("display", "");
        $("#findIdBtnDiv").css("display", "none");
        $("#findPwdBtnDiv").css("display", "");
        $("#findIdByEmail").val("");
    });

    $("#findId").on("click", function () {
        document.getElementById("findPwd").checked = false;
        $("#findIdByEmailDiv").css("display", "");
        $("#findPwdByIdDiv").css("display", "none");
        $("#findPwdByEmailDiv").css("display", "none");
        $("#findIdBtnDiv").css("display", "");
        $("#findPwdBtnDiv").css("display", "none");
        $("#findPwdById").val("");
        $("#findPwdByEmail").val("");
    });

    $("#findIdBtn").on("click", function () {
        if($("#findIdByEmail").val() == "" || $("#findIdByEmail").val() == null) {
            alert("이메일을 입력해주세요");
            $("#findIdByEmail").focus();
        } else {
            $.ajax({
                url: "/member/findIdByEmail",
                data: "email="+$("#findIdByEmail").val(),
                method: "POST",
                success: function (res) {
                    console.log("email send success >>>> " + res);
                }
            });
        }
    });

    $("#findPwdBtn").on("click", function () {
        let findPwdInfo = {
            "username": $("#findPwdById").val(),
            "email": $("#findPwdByEmail").val()
        }
        if($("#findPwdById").val() == "" || $("#findPwdById").val() == null) {
            alert("아이디를 입력해주세요.");
            $("#findPwdById").focus();
        } else if($("#findPwdByEmail").val() == null || $("#findPwdByEmail").val() == "") {
            alert("이메일을 입력해주세요.");
            $("#findPwdByEmail").focus();
        } else {
            $.ajax({
                url: "/member/findPwdByInfo",
                data: JSON.stringify(findPwdInfo),
                method: "POST",
                contentType: "application/json; charset=UTF-8",
                success: function (res) {
                    console.log("email send success >>>> " + res);
                }
            });
        }
    });
</script>
</html>