<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>header}}
<body style="background-color: antiquewhite;">
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table">
            <thead>
                <th>이미지</th>
                <th>제목</th>
                <th>출연 배우</th>
                <th>감독</th>
                <th>평점</th>
            </thead>
            <tbody>
                <td><a href="/main/read">이미지를 아직 못넣겠어요.. 어떡하죠?</a></td>
                <td>영화 제목</td>
                <td>출연 배우들 주연만 넣을꺼임</td>
                <td>나</td>
                <td>1.6</td>
            </tbody>
        </table>
        <div>
            <button type="button" id="createBoard">
                게시글 쓰기
            </button>
        </div>
    </div>
</body>
{{>footer}}
<script>
    $("#createBoard").on("click", function () {
       location.href="/main/createBoard";
    });
</script>
</html>