<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>header}}
<body style="background-color: antiquewhite;">
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table">
            <thead>
                <th>thead test1</th>
                <th>thead test2</th>
                <th>thead test3</th>
            </thead>
            <tbody>
                <td>test1</td>
                <td>test2</td>
                <td>test3</td>
            </tbody>
        </table>
    </div>
</body>
{{>footer}}
</html>