<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script>

</script>
{{>header}}
<body style="background-color: antiquewhite;">
    <div style="margin: 0 auto; text-align: center; padding-top: 10%;">
        <div class="form-group" >
            <label for="exampleInputEmail1" style="color: darkslategray;">아이디</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="아이디를 입력하세요" style="width: 25%; margin: 0 auto; text-align: center">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color: darkslategray;">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" style="width: 25%; margin: 0 auto; text-align: center">
        </div>
    </div>
    <div style="margin: 0 auto; text-align: center; padding-top: 20px;">
        <button type="button" class="btn btn-primary" name="login" id="login">로그인</button>
        <button type="button" class="btn btn-success" name="join" id="join" onclick="location.href='/main/join'">회원가입</button>
    </div>
</body>
<script>

</script>
{{>footer}}
</html>