<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function test() {
        alert("되니?");
        console.log("이건 왜 깃허브에서 안보이냐?");
    }
</script>
<body>
    <h1>두번째 페이지 입니다!</h1>
    <br>
    <h2>안녕하세요 {{name}}님!</h2>
    <br>
    <button type="button" onclick="test()">테스트버튼</button>
</body>
</html>